.cartao(id=#{matrícula}')
    img(src='#{foto}', onerror='this.setAttribute("src","http://www.my50.com/images/design/no-picture.png");)
    .informacao
        .principal #{nome} - #{userid}
        .secundaria #{lotação}
            br
            if (typeof cargo !== "undefined")
                #{cargo}
            if (typeof funcao !== "undefined")
                #{função}
        .complementar
            .telefone #{ramais}
            if (typeof local !== "undefined")
                .local #{local}

    .qrcode1
        - jQuery('#{{matrícula}} .qrcode').each( function(index,element) {
            jQuery(element).qrcode("{{nome}} {{lotação}} {{ramais}} {{local/andar/sala}}");
        });

