.cartao(id=#{matrícula}')
    img(src='#{foto}', onerror='this.setAttribute("src","#{semFoto}");)
    .informacao
        .principal
            span #{nome}
        .secundaria
            span #{lotação}
            br
        .complementar
            if typeof cargo !== 'undefined'
                span #{cargo}
            if typeof função !== 'undefined'
                span #{função}
            if typeof ramais !== 'undefined'
                .telefone #{ramais}
            if typeof local_andar_sala !== 'undefined'
                .local #{local_andar_sala}
            span #{userid} - #{matrícula}

            .qrcode

            script(type="text/javascript")
                jQuery('#' + '#{matrícula}' + '.qrcode').each( function(index,element) {
                    jQuery(element).qrcode("#{nome} #{lotação} #{ramais} #{local_andar_sala}");
                });

