.cartao(id=#{matrícula}')
    img(src='#{foto}', onerror='this.setAttribute("src","#{semFoto}");')
    .informacao
        .principal
            span #{nome}
        .secundaria
            span #{lotação}
            if typeof função !== 'undefined'
                span  - #{função}
        .complementar
            if typeof cargo !== 'undefined'
                span #{cargo} - 
            span #{userid} - #{matrícula}

            if typeof ramais !== 'undefined'
                .telefone #{ramais}
            if typeof local_andar_sala !== 'undefined'
                .local #{local_andar_sala}


    .botoes
        button.qrcode(type='button', onclick='alert("Aguarde e confie...");')
            img

    script(type="text/javascript")
        jQuery('#' + '#{matrícula}' + '.qrcode').each( function(index,element) {
            jQuery(element).qrcode("#{nome} #{lotação} #{ramais} #{local_andar_sala}");
        });

